
.content-area-plan .choosepref .grid{
    padding: 0 !important;
    margin-top: 4.497vh !important;
}
.content-area-plan h4{
    color: rgb(242, 155, 17);
    //color: rgb(32, 60, 82);
    font-size: 2.398vh;
    margin: 0;
    margin-bottom: 1.949vh;
    font-family: Montserrat-Bold;
}

.content-area-plan .meal-box{
    border-radius: 1.19vh;
    //color: rgb(53, 77, 96)  ;
    text-align: center;
    width: 40.62vh;
    // height: 21.589vh;
    margin: auto;
    //opacity: 70%;  
    margin-top: 1.998vh;
    border: 0.14vh solid rgb(32, 60, 82);
}

.content-area-plan .meal-box .img2{
    margin-top: 2.39vh;
    width: 8.095vh;
    height: 8.095vh;
}
.content-area-plan .meal-box h4{
    margin-top:  0.664vh;
    font-family: Montserrat-SemiBold;
    font-size: 2.398vh;
    margin-bottom: 0;    
 }
 .content-area-plan .meal-box p{
    font-family: Montserrat-Medium;
    font-size: 1.949vh;    
    text-align: center;
    margin:0;
    margin-top: 0.599vh;
    padding-bottom: 0.998vh;
    padding-left: 3vh;
    padding-right: 3vh;
 }
.content-area-plan .meal-heading{
    line-height: 3.5vh;
    font-size: 1.6vh;
    margin: 0vh;
    font-family: Montserrat-SemiBold;
}
 .choosepref .button-inner{
    font-size: 2.39vh;
    font-family: Montserrat-Bold;
 }
 .content-area-plan{
    height:  84vh;
 }
 .content-area-plan .custo{
    color: gray;
 }