
  .wrap{
    width: 100%;
    // height: 52%;
    position: absolute;
    bottom: 1.91rem;  
  }
  
page-signup .scroll-content .wrap, page-login .scroll-content .wrap{
    width: 100% !important;
  }

.loginpage page-signup .icon img, page-login .icon img {
    width: 100%;
    display: block;
    border-radius: 0% !important;
}

.loginpage .login-detail h2 {
    color: #fff;
    font-family: Montserrat-Bold;
    font-size: 2.3333350971131rem;
    line-height: 2.125rem;
}

.loginpage .col{
    padding:0;
}


.loginpage .login-detail p{
    text-align: left;
    font-size: 1.0833341522311rem;
    // opacity: 50%;
    margin: 0.16rem 0rem 0rem 0rem;
  //  color: rgb(32, 60, 82);
  color:#ffff;
    line-height: 1.33rem;
}


.loginpage .inputForm .contactNumber{
    font-family: Montserrat-Bold;
   // color: rgb(144, 144, 144);
   color:#ffff;
}

.loginpage .loginInput {
    font-family: Montserrat-SemiBold;
    font-size: 1.25rem;
    color:#ffff;
}

.loginpage .label-md[stacked], .label-md[floating]{
    font-size: 1.17rem;
    font-family: Montserrat-Bold;
    letter-spacing: 0.07rem;
}

.loginpage .item-ios{
    background-color: transparent;
    padding-left: 0rem;
    // color: #ffff;
} 

.loginpage .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    font-size: 1.1666675485565rem !important;
    font-family: Montserrat-SemiBold !important;
    //color: rgb(0, 0, 0) !important;
    // color:#ffff;
}

.loginpage .button-md{
    text-transform: none !important;
}
    

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.item-label-stacked .text-input-md, .item-label-floating .text-input-md{
 font-weight: bold !important;
}

.loginpage a[disabled], button[disabled], [ion-button][disabled]{
    opacity: 1.0 !important;
}

.loginpage .item-md{
    background-color: transparent !important;
    padding-left: 0rem !important;
}

.loginpage .loginbutton{
    padding: 1.17rem 0rem;
    height: 4.58rem;
    // height:7.24vh;
    background: linear-gradient(225deg, rgb(255,206,128) -100%, rgb(242,156,17) 100%);
    box-shadow: none;
}
.loginpage .loginbutton .button-inner{
    font-family: Montserrat-Bold;
     font-size: 1.33rem;
    color: rgb(255, 255, 255);
}
.loginpage .socialbutton{
    background-color: #ededed;
    border: 0.06rem solid #dcdcdc; 
    color: #8c8c8c;
    font-size: 1.11rem;
    padding: 1.11rem;
    text-decoration: none;

}

.loginpage .skiplinks{
    margin-top: 2.75rem;
}

.loginpage .skiplinks a.skip{
    color: #ffff;
    //color: rgb(32, 60, 82) !important;
    font-family: Montserrat-Bold;
    font-size: 1.25rem;
    letter-spacing: 0.01rem;
}

.loginpage .changemodule {
    color:#ffff;
    //color: rgb(144, 144, 144);
    font-size: 1.16rem;
    font-family: Montserrat-Regular !important;
    letter-spacing: 0.01rem;
    margin-bottom: 2.41rem;
}

.loginpage .changemodule a{
    color: black;
   // color: rgb(242, 155, 17); 
    text-decoration:none;
    font-family: Montserrat-Bold;
}

.loginpage .loginlinks a{
    color: rgb(144, 144, 144) !important;
    text-decoration: none !important;
}

.loginpage .grid{
    padding:0;
}

.loginpage .scb {
    margin-bottom: 0.56rem;
}
.loginpage .scc {
    margin-top: 2.25rem;
}
.social-button [col-6] {
    padding: 0.28rem 0.17rem 0rem 0rem !important;
}   

.loginpage .social-button .button-md{
    text-transform: none !important;
    font-weight: normal !important;
}

.loginpage .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: rgb(243, 160, 28) !important;
    box-shadow: inset 0 -0.01rem 0 0 rgb(243, 160, 28) !important;
}

.loginpage .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    border-bottom-color: rgb(243, 160, 28) !important;
    box-shadow: inset 0 -0.01rem 0 0 rgb(243, 160, 28) !important;
}

.loginpage .button-md:hover:not(.disable-hover) {
    background-color:rgb(243, 160, 28) !important;
}


.loginpage .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: rgb(243, 160, 28) !important;
    -webkit-box-shadow: inset 0 -0.1rem 0 0 rgb(243, 160, 28) !important;;
    box-shadow: inset 0 -0.01rem 0 0 rgb(243, 160, 28) !important;
}

.loginpage .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color:rgb(144, 144, 144);
    //color:#ffff;
}
/*-----css--*/
.loginpage {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.loginpage .wrap {
    position: relative;
    padding: 1.875rem 5.952vw 1rem 5.952vw !important;
    bottom: 0 !important;
}
.loginpage .inputForm .contactNumber {
    font-family: Montserrat-Bold;
    color: #ffff !important;
    margin-top: 1.875rem !important;
    margin-bottom: 0.625rem !important;
}
.loginpage .loginbutton{
    padding: 0;
    height: 14.667vw !important;
    background: linear-gradient(225deg, #ffce80 -100%, #f29c11 100%);
    box-shadow: none;
    margin-top: 1.25rem !important;
    margin-bottom: 0;
    font-size: 4.267vw;
    box-sizing: border-box;
    line-height: 14.667vw;
}
.loginpage .loginbutton .button-inner {
    font-family: Montserrat-Bold;
    font-size: 4.267vw;
    color: white;
    display: block;
    line-height: 14.667vw;
}
.loginpage .skiplinks {
    margin-top: 2.063rem;
}
.loginpage .scb {
    margin-bottom: 0;
}
.loginpage .scc {
    margin-top: 1.688rem;
}
.loginpage .changemodule{
    margin-bottom: 0;
}
.loginpage .changemodule a {
    color: #fff;
}
.content-area .lunch-box{
    width: 17.991004497751124vh;
    height: 17.991004497751124vh;
}
.content-area .grid {
    margin-bottom: 0 !important;
    margin-top: 6.905vh !important;
    height: 100%;
}
body page-login ion-content.login-scroll .scroll-content{
    overflow-y: hidden !important;
}
.loginpage {
    bottom: 4vh;
}
page-login .scroll-content {
    overflow: hidden;
}
page-loginotp .scroll-content {
    overflow: hidden;
}
page-aboutyou .scroll-content {
    overflow: hidden;
}
.aboutButton {
    height: 14.667vw !important;
}
page-where-to-delivere button{
    height: 14.667vw !important;
}
.loginpage .loginInput input.text-input {
    color: #fff !important;
}