<ion-header no-border class="dit-type-header switch-address-marign">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="Back()">
        <img src="assets/imgicon/Group_51.svg" class="backWhiteIcon">
      </button>
    </ion-buttons>
    <ion-title text-center>SWITCH ADDRESS/TIME</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content">
  <div *ngIf="ActiveChkSumm" class="grid">
    <div class="screen-heading" *ngIf="ActiveChkSumm">
      <span>Choose</span>
      <h2>Date & Address</h2>
    </div>
    <div class="main-container1">
    

      <div class="switchTabdiv1">
        <div class="main-header">
          <ion-grid style="padding: 0 2.5vh;">
            <ion-row>
              <ion-col col-6 text-center>
                <div class="class-toogle" (click)="onClickDAddress()" [style.color]="ActiveChkSumm?deladd1:deladd2">
                  <label>Delivery Address</label>
                </div>
              </ion-col>
              <ion-col col-6 text-center>
                <div class="class-toogle" (click)="onClickDTime()" [style.color]="ActiveChkMethod?deltime1:deltime2">
                  <label> Delivery Time </label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="switch-address-area">
          <ion-grid class="toogle-highlite">
            <ion-row>
              <ion-col col-6 class="toogle-highlite-padding">
                <div *ngIf="ActiveChkSumm" class="toogle-design"></div>
              </ion-col>
              <ion-col col-6 class="toogle-highlite-padding">
                <div *ngIf="ActiveChkMethod"></div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row text-center>
              <ion-col>
                <label>
                  <h5 class="heading-range">CHOOSE DATE / RANGE</h5>
                </label>
              </ion-col>
            </ion-row>
            <ion-row class="top-marign-row">
              <ion-col col-12 class="text-center">
                <label class="choosedate-from"> FROM </label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-datetime class="datetime-text-switch" displayFormat="DD MMMM YYYY" [min]="today1"
                    [max]="minDate2" [disabled] [(ngModel)]="selecteddate1" (ngModelChange)="fromSelectdate()"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <ion-row class="top-marign-row">
              <ion-col col-12 class="text-center">
                <label class="choosedate-from">TO</label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-item>
                  <ion-datetime class="datetime-text-switch" displayFormat="DD MMMM YYYY" [min]="minDate1"
                    [max]="minDate2" [(ngModel)]="selecteddate2" (ngModelChange)="toSelectdate()"
                    [disabled]="activeto ? false:true"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 class="text-center">
                <h5 class="heading-range">CHOOSE MEAL TYPE</h5>
              </ion-col>
            </ion-row>

            <ion-list class="radiolist">
              <ion-row>
                <!-- for lunch-->
                <ion-col col-12 text-center *ngIf="mealType=='Lunch'" class="mealtype-checked2">
                 
                     <ion-radio type="radio" id="lunch" mode="md" value="Lunch" [disabled]="disableRadio==true" (click)="radioGroupChange('Lunch')" [checked]="rdDefaultLunch" name="lunch"></ion-radio>
                    <!-- <input type="radio" [checked]="rdDefaultLunch" id="lunch" name="lunch" mode="md" value="Lunch"
                      (click)="radioGroupChange('Lunch')" [disabled]="disableRadio==true"  /> -->

                    <label *ngIf="disableRadio==true">Lunch</label>
                    <label (click)="radioGroupChange('Lunch')" *ngIf="disableRadio==false">Lunch</label>
                
                  <!-- </ion-list> -->
                </ion-col>
                <!-- for dinner -->
                <ion-col col-12 text-center *ngIf="mealType=='Dinner'" class="mealtype-checked2">
               
                     <ion-radio type="radio" id="dinner" mode="md" value="Dinner" [disabled]="disableRadio==true" (click)="radioGroupChange('Dinner')" [checked]="rdDefaultDinner" name="dinner"></ion-radio>
                   <!--  <input type="radio" [checked]="rdDefaultDinner" id="dinner" name="dinner" mode="md" value="Dinner"
                      (click)="radioGroupChange('Dinner')" [disabled]="disableRadio==true" /> -->
                    <label *ngIf="disableRadio==true">Dinner</label>

                     <label (click)="radioGroupChange('Dinner')" *ngIf="disableRadio==false">Dinner</label>
              
                  <!-- </ion-list> -->
                </ion-col>
                <!-- for both -->
                <ion-col col-6 text-center *ngIf="mealType=='Both'" class="mealtype-checked2">
                 
                     <ion-radio type="radio" id="lunch" name="lunch" mode="md" value="Lunch" (click)="radioGroupChange('Lunch')" [disabled]="disableRadio==true" [checked]="rdDefaultLunch" name="lunch"></ion-radio>
                    <!-- <input type="radio" [checked]="rdDefaultLunch" id="lunch" name="lunch" mode="md" value="Lunch"
                      (click)="radioGroupChange('Lunch')" [disabled]="disableRadio==true"/> -->
                    <label *ngIf="disableRadio==true">Lunch</label>
                       <label (click)="radioGroupChange('Lunch')" *ngIf="disableRadio==false">Lunch</label>
               
                  <!-- </ion-list> -->
                </ion-col>
                <ion-col col-6 text-center *ngIf="mealType=='Both'" class="mealtype-checked2">
                 
                    <ion-radio type="radio" id="dinner" name="dinner" mode="md" value="Dinner" (click)="radioGroupChange('Dinner')" [disabled]="disableRadio==true" name="dinner" [checked]="rdDefaultDinner"></ion-radio>
                    <!-- <input type="radio" [checked]="rdDefaultDinner" id="dinner" name="dinner" mode="md" value="Dinner"
                      (click)="radioGroupChange('Dinner')" [disabled]="disableRadio==true"/> -->
                    <label *ngIf="disableRadio==true">Dinner</label>
                    <label (click)="radioGroupChange('Dinner')"  *ngIf="disableRadio==false">Dinner</label>
                
                  <!-- </ion-list> -->
                </ion-col>

              </ion-row>
            </ion-list>
          </ion-grid>

          <ion-row>
            <ion-col col-12 class="text-center">
              <h5 class="heading-range">CHOOSE DELIVERY ADDRESS</h5>
            </ion-col>
          </ion-row>
          <div class="choose_delivery" *ngFor="let address of AddressTimeArray; let i=index">
            <div *ngIf="address.address_type=='home'">
              <ion-row>
                <ion-col>
                  <div class="homeArea" id="homeaddress" [style.border]="homeBorder" [style.background]="homeColor"
                    block (click)="onclickAddress(address.address_type)" [style.color]="th1" *ngIf="boxactive=='0'">
                    <label [style.color]="th1">Home</label>
                    <p [style.color]="hometxt">{{homestring}}</p>
                  </div>

                  <div class="homeArea" id="homeaddress" [style.border]="homeBorder" [style.background]="homeColor"
                    block [style.color]="th1" *ngIf="boxactive=='1'">
                    <label [style.color]="th1">Home</label>
                    <p style="color: black !important; padding: 0.45vh 0.30vh;">Address Not Entered
                    </p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="choose_delivery" *ngIf="address.address_type=='work'">
              <ion-row>
                <ion-col>
                  <div class="homeArea" id="workaddress" [style.border]="workBorder" [style.background]="workColor"
                    block [style.color]="tw1" *ngIf="boxactive2=='0'" (click)="onclickAddress(address.address_type)">
                    <label [style.color]="tw1">Work</label>
                    <p [style.color]="worktxt">{{workstring}}</p>
                  </div>


                  <div class="homeArea" id="workaddress" [style.border]="workBorder" [style.background]="workColor"
                    block [style.color]="tw1" *ngIf="boxactive2=='1'">
                    <label [style.color]="tw1">Work</label>
                    <p style="color: black  !important;padding: 0.45vh 0.30vh;">Address Not Entered
                    </p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <br>


          <div *ngIf="showcheckbox==true">
            <ion-row>
              <ion-col text-center>
                <label class="heading-range">Deliver to Home Address on</label>
              </ion-col>
            </ion-row>

            <ion-row id="checkedunchecked">
              <ion-col col-6 text-center>
                <div class="holidays">
                  <ion-checkbox class="checkbox-square" (click)="Saturday($event)" [(ngModel)]="check1" [checked]="rdDefaultdsat"></ion-checkbox>
                </div>
                <div class="holidays-label">
                  <label>Saturday</label>
                </div>
              </ion-col>

              <ion-col col-6 text-center>
                <div class="holidays">
                  <ion-checkbox class="checkbox-square" (click)="Sunday($event)" [(ngModel)]="check2" [checked]="rdDefaultdsun"></ion-checkbox>
                </div>
                <div class="holidays-label">
                  <label>Sunday</label>
                </div>
              </ion-col>
            </ion-row>
          </div>

          <ion-row style="padding: 0vh 5.333vw;">
            <ion-col class="button-delivery" style="padding:0 0 3vh 0;">
              <button ion-button type="submit" id="input_submit" block (click)="onSubmitAddress()"
                [style.background]="submitButton">
                Update Delivery Address
              </button>
            </ion-col>
          </ion-row>
        </div>
      </div>

    </div>
  </div>

  <!-- SWITCH Time Div -->
  <div *ngIf="ActiveChkMethod" class="grid">
    <div class="screen-heading" *ngIf="ActiveChkMethod">
      <span>Choose</span>
      <h2>Date & Address</h2>
    </div>

    <div class="main-container1">
  

      <div class="switchTabdiv1">
        <div class="main-header">
          <ion-grid style="padding: 0 2.5vh;">
            <ion-row>
              <ion-col col-6 text-center>
                <div class="class-toogle" (click)="onClickDAddress()" [style.color]="ActiveChkSumm?deladd1:deladd2">
                  <label>Delivery Address</label>
                </div>
              </ion-col>
  
              <ion-col col-6 text-center>
                <div class="class-toogle" (click)="onClickDTime()" [style.color]="ActiveChkMethod?deltime1:deltime2">
                  <label> Delivery Time </label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="switch-address-area">
          <ion-grid class="toogle-highlite">
            <ion-row>
              <ion-col col-6>
                <div *ngIf="ActiveChkSumm"></div>
              </ion-col>
              <ion-col col-6 class="toogle-highlite-padding">
                <div *ngIf="ActiveChkMethod" class="toogle-design-second"></div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row text-center>
              <ion-col>
                <h5 class="heading-range">CHOOSE DATE / RANGE </h5>
              </ion-col>
            </ion-row>

            <ion-row class="top-marign-row">
              <ion-col col-12 class="text-center">
                <label class="choosedate-from"> FROM </label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12 class="text-center">
                <ion-item>
                  <ion-datetime class="datetime-text-switch" displayFormat="DD MMMM YYYY" [min]="today1"
                    [max]="minDate2" [(ngModel)]="selecteddate11" (ngModelChange)="fromSelectdate1()"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
            <br>
            <ion-row class="top-marign-row">
              <ion-col col-12 class="text-center">
                <label class="choosedate-from"> TO </label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12 class="text-center">
                <ion-item>
                  <ion-datetime class="datetime-text-switch" displayFormat="DD MMMM YYYY" [min]="minDateTime"
                    [max]="minDate2" [(ngModel)]="selecteddate22" (ngModelChange)="toSelectdate1()"
                    [disabled]="activeto1 ? false:true"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12 class="text-center">
                <h5 class="heading-range">CHOOSE MEAL TYPE</h5>
              </ion-col>
            </ion-row>
            <ion-list class="radiolist" radio-group>
              <ion-row>
                <!-- <ion-col col-6 text-center>
                <div class="ionButton" *ngIf="mealType=='Lunch' || mealType=='Both'" class="mealtype-checked">
                    <ion-radio type="radio" mode="md" value="Lunch" [disabled]="disableRadio1==true"></ion-radio>
                    <label >Lunch</label>
                  </div>
              </ion-col>

              <ion-col col-6 text-center>
                  <div class="ionButton" *ngIf="mealType=='Dinner' || mealType=='Both'" class="mealtype-checked">
                    <ion-radio type="radio" mode="md" value="Dinner"  [disabled]="disableRadio1==true"></ion-radio>
                    <label >Dinner</label>
                  </div> -->

                <ion-col col-12 text-center *ngIf="mealType=='Lunch'" class="mealtype-checked2">
                  
                    <ion-radio type="radio" mode="md" value="Lunch" 
                      (click)="radioGroupChange1('Lunch')" [checked]="rdDefaultlunch1" style="vertical-align: middle;"></ion-radio>
                      <!-- <input type="radio" mode="md" value="Lunch"
                      (click)="radioGroupChange1('Lunch')" [checked]="rdDefaultlunch1"/> -->
                    <label (click)="radioGroupChange1('Lunch')">Lunch</label>
              

                </ion-col>

                <ion-col col-12 text-center *ngIf="mealType=='Dinner'" class="mealtype-checked2">
                
                    <!-- <input type="radio" mode="md" value="Lunch"
                    (click)="radioGroupChange1('Dinner')" [checked]="rdDefaultdinner1"/> -->

                    <ion-radio type="radio" mode="md" value="Dinner" 
                      (click)="radioGroupChange1('Dinner')" [checked]="rdDefaultdinner1" style="vertical-align: middle;"></ion-radio>
                    <label (click)="radioGroupChange1('Dinner')">Dinner</label>
                

                </ion-col>

                <ion-col col-6 text-center *ngIf="mealType=='Both'" class="mealtype-checked2">
                
                   <!--  <input type="radio" mode="md" value="Lunch"
                    (click)="radioGroupChange1('Lunch')" [checked]="rdDefaultlunch1"/> -->

                    <ion-radio type="radio" mode="md" value="Lunch" 
                      (click)="radioGroupChange1('Lunch')" [checked]="rdDefaultlunch1"  style="vertical-align: middle;"></ion-radio>
                    <label style="vertical-align: middle;" (click)="radioGroupChange1('Lunch')">Lunch</label>
                  

                </ion-col>
                <ion-col col-6 text-center *ngIf="mealType=='Both'" class="mealtype-checked2">
                
                    <!-- <input type="radio" mode="md" value="Lunch"
                    (click)="radioGroupChange1('Dinner')" [checked]="rdDefaultdinner1"/> -->
                    
                    <ion-radio type="radio" mode="md" value="Dinner" 
                      (click)="radioGroupChange1('Dinner')" [checked]="rdDefaultdinner1" style="vertical-align: middle;"></ion-radio>
                    <label style="vertical-align: middle;" (click)="radioGroupChange1('Dinner')">Dinner</label>
                

                </ion-col>

              </ion-row>
            </ion-list>


            <!--  -->
          </ion-grid>
          <ion-row>
            <ion-col col-12 class="text-center">
              <h5 class="heading-range">CHOOSE DELIVERY TIME</h5>
            </ion-col>
          </ion-row>
          <!-- <div *ngFor="let time of AddressTimeArray; let i=index"> -->
          <ion-grid *ngIf="showLunchDiv">
            <ion-row>
              <ion-col text-center>
                <label class="heading-range">LUNCH</label>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 0vh 2.667vw;">
              <ion-col col-6 text-center style="">
                <div id="Lunchtime1" class="onboard-click time-update" block (click)="onclickTime1()"
                  [style.border]="timeBorder1" [style.background]="Ltime1" [style.color]="lt1">
                  {{delivery_lunch_timing}}
                </div>
              </ion-col>
              <ion-col col-6 text-center style="">
                <div id="Lunchtime2" class="onboard-click time-update" block (click)="onclickTime2()"
                  [style.border]="timeBorder2" [style.background]="Ltime2" [style.color]="lt2">
                  {{delivery_lunch_timing2}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="showDinnerDiv">
            <ion-row>
              <ion-col text-center>
                <label class="heading-range">DINNER</label>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 0vh 2.667vw;">
              <ion-col col-6>
                <div id="Dinnertime1" class="onboard-click time-update" block (click)="onclickTime3()"
                  [style.border]="timeBorder3" [style.background]="Dtime1" [style.color]="dt1">
                  {{delivery_dinner_timing}}
                </div>
              </ion-col>
              <ion-col col-6>
                <div id="Dinnertime2" class="onboard-click time-update" block (click)="onclickTime4()"
                  [style.border]="timeBorder4" [style.background]="Dtime2" [style.color]="dt2">
                  {{delivery_dinner_timing2}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- </div> -->
          <ion-grid>
            <ion-row style="padding: 0vh 4vw;padding-bottom: 4vh;">
              <ion-col class="button-delivery" style="padding: 0;">
                <button ion-button type="submit" id="input_submit" block (click)="onSubmitTime()"
                  [style.background]="submitButton1">
                  Update Delivery Time
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

    </div>
  </div>

</ion-content>