
.setting-content{
    background-color: rgb(32, 60, 82);
}

.setting-area{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 1.90vh 8.15vh 1.35vh;
    background-color: #ffffff;
    height: 95%;
    border-top-left-radius: 1.35vh;
    border-top-right-radius: 1.35vh;
    box-shadow: 0 0 0.67vh #000;
    overflow-y: scroll;
    font-size: 2.30vh;
    line-height: 4.75vh;
    font-size: 2.03vh;
    margin: 0vh;
}