

.choose-header .image-icon{
    float: left;
}
.choose-header .toolbar-title-md{
    text-align: center !important;
    margin-top: 10px !important;
    font-size: 13px !important;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 25px;
}
.scroll-content{
        overflow-y: hidden !important;
}
.choose-prefernece-header .choose-header .toolbar-background-md{ 
    background-color: rgb(32, 60, 82) !important;
}
.main-preference1{
    background-color: rgb(32, 60, 82);
}



.main-preference1 .heading-preference{
    width: 100%;
    padding: 0px 0px;
}

.main-preference1.heading-preference p{
    color:#ffff;
    text-align: center;
    margin:0px;
}
.main-preference1 .heading-preference h2{
    color:#ffff;
    text-align: center;
    margin-top:11px;
    font-weight: bold;
}
.main-preference1 .heading-preference h3{
    color:#ffff;
    text-align: center;
    margin-top:11px;
    font-weight: bold;
}




