// page-paymentsuccessful {

// }
.paymentSucces-content .pym-successful .trueImage{
    margin-top: 13.858696vh;
    width: 31.418478vh;
}

.paymentSucces-content .pym-successful h2{
    color: #314a5d;
    text-align: center;
    margin: 2.717391304347826vh 0vh 0vh 0vh;
    font-size:2.998500749625187vh;
    font-family: Montserrat-Bold;
}


.paymentSucces-content .pym-successful p{
    margin: 1.766304347826087vh 0vh 0vh 0vh;
    text-align: center;
    color: #314a5d;
    line-height: 3.29vh;
    font-family: Montserrat-Regular;
    font-size: 3.733vw;
}


.paymentSucces-content .pym-successful .button-md{
     background-color: rgb(32, 60, 82);
    // height: 4.6rem !important;
   // background: linear-gradient(to bottom, rgb(255,206,128) -80%, rgb(242,156,17) 100%);
    text-transform: none;
    font-size: 2.398vh;
    height: 7.796vh;
    border-radius: 0.899vh;
    box-shadow: none;
}

.paymentSucces-content .pym-successful .button-ios{
    background-color: rgb(32, 60, 82);
    // height: 4.6rem !important;
   // background: linear-gradient(to bottom, rgb(255,206,128) -80%, rgb(242,156,17) 100%);
    text-transform: none;
    // font-size: 1.9rem;
    font-size: 2.398vh;
    height: 7.796vh;
    border-radius: 0.899vh;
    box-shadow: none;
}

.button-bottom-payment span{
    font-size: 2.398vh;
    font-family: Montserrat-SemiBold;
}
.button-bottom-payment{
    margin-top: 10.869565217391305vh;
}

// .button-bottom-payment button{
//     height: 7.79vh;
// }

.button-bottom-payment img{
    margin-right: 1.742vh;
}
.pym-successful {
    width: 100%;
    position: relative;
    height: 100%;
    float: left;
}
.pym-successful .grid {
    padding: 0;
    height: 100%;
}
page-picktmrwvegies .toolbar-title {
    opacity: 1 !important;
}