page-profession-edit {
    .list-ios
    {
        margin:0vh !important;
    }
    .areamodel .heading-title-box{
        
        background: #101e29 !important;
    
    }
    .areamodel .heading-title-box h6{
        font-size: 3vh !important;
        color: #fff !important;
        margin: 0;
        font-family: Montserrat-Bold;
    }
        .label-ios{
            margin: 0vh;
        }
    }
    .select-modal-rtmsprof{
        padding:33vh 4vh;
        background: rgba(0, 0, 0, 0.5) !important;
    }
    .model-area-margin .label-md{
        margin:-0.45vh 1.21vh 1.97vh 0vh !important;
    }
    
    .model-area-margin{
            margin: -0.76vh 0vh;
    }
    ion-content.main-edit-preference.areamodel {
        height: auto;
    }
    ion-model .heading-title-box{
        padding: 3vh !important;
        height: auto;
    }