page-referand-earn-model {

}
.code-button{
    margin:6.146vh 0vh 3.29vh 0vh;
}
.refer-earn-area .button-md{
    background: linear-gradient(to bottom, rgba(255,206,128,1) -80%, rgba(242,156,17,1) 100%);
    text-transform: none;
    height: 8.24vh;
    border-radius: 0.899vh;
    font-family: Montserrat-Bold;
}

.refer-earn-area .button-ios {
    background: linear-gradient(to bottom, rgba(255,206,128,1) -80%, rgba(242,156,17,1) 100%);
    text-transform: none;
    font-size: 2.098vh;
    height: 8.24vh;
    border-radius: 0.899vh;
    font-family: Montserrat-Bold;
}
