<ion-header no-border class="dit-type-header">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="Back()">
        <img src="assets/imgicon/Group_51.svg" class="backWhiteIcon">
      </button>
    </ion-buttons>
    <ion-title text-center>Renew Subscription</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="chooseplan-content2">
  <div class="renew-subscrip-content text-center">
    <ion-grid>
      <ion-row style="margin-top: 1.945vh;" *ngFor="let subscriptions of subscriptiondataArray; let i=index">
        <ion-col col-12 class="select-area2">
          <div class="monthly-subscription" id='plan_{{subscriptions.subscription_id}}' (click)="onClickSubscription(subscriptions.subscription_id)">
            <div>
              <img style="width: 9.97vh;height: 9.97vh;margin-top: 2.248vh;margin-bottom: 1.664vh;" *ngIf="subscriptions.subscription_id!='1'"
                src="assets/Group 321@2x.png" alt="food-image" class="img-responsive">
              <!-- <img style="width: 13.778vh;height: 13.6vh;" *ngIf="subscriptions.subscription_id=='1'" src="assets/Group 225@2x.png" alt="food-image"
                class="img-responsive"> -->
            </div>
            <h4>{{subscriptions.subscription_name}}</h4>
            <span [innerHTML]="subscriptions.subscription_content"></span>
            <label class="smallcontent" id='plan_p_{{subscriptions.subscription_id}}' [innerHTML]="subscriptions.subscription_sub_content"></label>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>

<!-- [disabled]="activeto ? false:true" -->



<!-- <ion-header no-border class="dit-type-header">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="Back()">
        <img src="assets/imgicon/Group-51.png">
      </button>
    </ion-buttons>
    <ion-title text-center>IT'S TIME TO RENEW</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="renew-sub-content">
  <div class="screen-heading">
    <span>Choose Your</span>
    <h2>Renewal Method</h2>
  </div>
  <div class="renew-subscription text-center">
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <img src="assets/Reneal_illstration_ic.png" alt="TrueMark" class="reneal-img">
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <div class="renew-preference">
              <h2>Renew with existing preferences</h2>
              <p>at Rs. 4999/-</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <p class="extra">OR</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button type="submit" id="input_submit"  block  class="renew-button" (click)="Dashboardclick()">
              Renew with new preferences 
            </button>
          </ion-col>
        </ion-row>

      </ion-grid> -->
      
  
    <!-- <ion-grid>
      <ion-row style="margin-top: 1.945vh;" *ngFor="let subscriptions of subscriptionArray; let i=index">
        <ion-col col-12 class="select-area2">
          <div class="monthly-subscription" id='plan_{{subscriptions.subscription_id}}'>
            <div>
              <img style="width: 9.97vh;height: 9.97vh;margin-top: 2.248vh;margin-bottom: 1.664vh;" *ngIf="subscriptions.subscription_id!='1'"
                src="assets/Group 321@2x.png" alt="food-image" class="img-responsive">
              <img style="width: 13.778vh;height: 13.6vh;" *ngIf="subscriptions.subscription_id=='1'" src="assets/Group 225@2x.png" alt="food-image"
                class="img-responsive">
            </div>
            <h4>{{subscriptions.subscription_name}}</h4>
            <span [innerHTML]="subscriptions.subscription_content"></span>
            <label class="smallcontent" id='plan_p_{{subscriptions.subscription_id}}' [innerHTML]="subscriptions.subscription_sub_content"></label>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid> -->
  <!-- </div>
</ion-content> -->

<!-- [disabled]="activeto ? false:true" -->