// .renew-sub-content{
//     background-color: rgb(32, 60, 82);
// }
// .renew-sub-content .screen-heading{
//     width: 100%;
//     height:  8.66vh; 
//     text-align: center;    
// }

// .renew-sub-content .screen-heading span{
//     font-size: 2.98vh;
//     color: rgb(255, 255, 255);
//     margin: 0;
//     font-family: 'Montserrat-Regular';
// }

// .renew-sub-content .screen-heading h2{
//     color: rgb(255, 255, 255);
//     font-size: 4.18vh;
//     font-family: Montserrat-Bold;
//     text-align: center;
//     margin: 0;
// }

// .renew-subscription .grid .col{
//     padding: 0;
// }

// .renew-subscription{
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     background-color: #ffffff;
//     height: 89%;
//     border-top-left-radius: 1.35vh;
//     border-top-right-radius: 1.35vh;
//     overflow-y: scroll;
//     padding: 0 1.99vh;
// }

// .renew-subscription  .reneal-img{
//     margin-top: 10.539vh;
// }

// .renew-subscription .renew-preference{
//     // height: 12.143vh;
//     margin-top: 6.071vh;
//     border-radius: 0.899vh;
//     padding: 2.84vh;
//     background: linear-gradient(-25deg, rgba(255,206,128,1) -80%, rgba(242,156,17,1) 100%);
// }

// .renew-subscription .renew-preference h2{
//     color:rgb(255, 255, 255);
//     text-align: center; 
//     margin:0vh; 
//     font-size: 2.298vh; 
//     font-family: Montserrat-Bold;
// }

// .renew-subscription .renew-preference p{
//     color:rgb(255, 255, 255);
//     opacity: 70%;
//     text-align: center; 
//     margin:1.049vh 0vh 0vh 0vh; 
//     font-size: 2.298vh; 
//     line-height: 2.69vh;
//     font-family: Montserrat-Medium;
// }

// .renew-subscription .extra{
//     color:rgba(29, 51, 67, 0.2);
//     font-family: Montserrat-SemiBold; 
//     font-size: 1.94vh;
//     margin: 2.29vh 0vh;
// }

// .renew-subscription .button-inner{
//     font-family: Montserrat-Bold;
// }

// .renew-subscription .button-md{
//     background-color: #203c52;
//     text-transform: none;
//     font-size: 2.098vh;
//     height: 8.24vh;
//     border-radius: 0.899vh;
//     font-family: Montserrat-Bold;
// }

// .renew-subscription .button-ios {
//     background-color: #203c52;
//     text-transform: none;
//     font-size: 2.098vh;
//     height: 8.24vh;
//     border-radius: 0.899vh;
//     font-family: Montserrat-Bold;







.chooseplan-content2{
  background-color: rgb(32, 60, 82);
}
.chooseplan-content2 .scroll-content {
  overflow-y: scroll !important;
}

.renew-subscrip-content{
width: 100%;
position: absolute;
bottom: 0;
//   padding: 0 1.90vh 8.15vh 1.35vh;
background-color: #ffffff;
height: 96%;
border-top-left-radius: 1.35vh;
border-top-right-radius: 1.35vh;
-webkit-box-shadow: 0 0 0.67vh #000;
box-shadow: 0 0 0.67vh #000;
overflow-y: scroll;
font-size: 2.30vh;
line-height: 4.75vh;
font-size: 2.03vh;
margin: 0vh;
}



.renew-subscrip-content{
  padding-left: 1.998vh;
  padding-right: 1.998vh;
  position: absolute;
}
.renew-subscrip-content .grid{
  margin : 0 !important;
  padding: 0 !important;
}

.renew-subscrip-content .col{
  padding: 0 !important;
}
.renew-subscrip-content .row{
  padding: 0 !important;
}
.renew-subscrip-content h4{
  color: rgb(32, 60, 82);
  margin: auto;
  font-size: 4.197vh;
  font-family: Montserrat-Bold;
  margin-top: 1.046vh;
}
.renew-subscrip-content .mainpara{
  color: rgb(0, 0, 0);
  margin: auto;
  font-size: 1.994vh;
  letter-spacing: 0.019vh;
  opacity: 65%;
  font-family: Montserrat-Light;
  margin-top: 0.749vh;
  margin-bottom: 3.44vh;
  
}
.renew-subscrip-content .button-ios{
background-color: rgb(255, 255, 255);
}

.renew-subscrip-content .button-md{
  background-color: rgb(255, 255, 255);
  --webkit-box-shadow: none;
  box-shadow: none;
  }
.renew-subscrip-content .monthly-subscription{
  background-color:rgb(245, 245, 245) !important;
  margin-top:  1.499vh;
  //height:30.985vh;
  padding-bottom: 3.05vh;
  text-align:center;
  border-radius:1.04vh; 
  margin: auto;
  padding: 2vh 1vh;
}

.renew-subscrip-content .monthly-subscription img{
  margin: auto;
}

.renew-subscrip-content .monthly-subscription h4{
  font-size: 4vw; 
  font-family: Montserrat-Bold;
  margin-top:  0.122vh;
  text-align: center;  
  color: #000;
}

.monthly-subscription span{
  text-align: center;
  font-size:1.94vh;
  color: rgb(0, 0, 0);
  opacity: 100%;  
  font-family: Montserrat-Medium;
}

.monthly-subscription span p{
  text-align: center;
  line-height: 2.39vh;
  font-size: 3.467vw;
  color: black;
  font-family: Montserrat-Regular;
  padding: 0 1vh;
  margin: 0;
  margin-top: 1.049vh;
}
.monthly-subscription .smallcontent{
  margin-top: 0.749vh;
}
.monthly-subscription .smallcontent p{
  text-align: center;
  line-height: 4.267vw;
  font-size: 3.467vw;
  color: #a3a3a3;
  font-family: Montserrat-Regular;
  padding-left: 3.247vh;
  padding-right: 3.247vh;
  margin: 0;
}

ion-row .bottom p {
    text-align: center;
    font-size:1.79vh;
    color: rgb(0, 0, 0);
    opacity: 50%;
    font-family:Montserrat-Light;
    margin-top: 4.63vh;
    line-height: 2.39vh;
    color: rgb(0, 0, 0);     
}

// ion-row .bottom p sup {
//   text-align: center;
//   font-size:1.79vh;
//   color: rgb(226, 42 ,51);
// }

.bottom{
  margin-bottom: 4.94vh;
  p{
    text-align: center;
    font-size:1.79vh;
    color: rgb(0, 0, 0);
    opacity: 50%;
    font-family:Montserrat-Light;
    margin-top: 4.63vh;
    line-height: 2.39vh;
    color: rgb(0, 0, 0);   
  }    
}

ion-content.chooseplan-content2 {
  width: 100vw;
  height: calc(100% - 10.494752623688155vh);
  bottom: 0;
  top: auto;
}





  
  
  